# Preksha Prakash 23MB0046

In [1]:
import mysql.connector

In [2]:
import pandas as pd

In [3]:
cnx=mysql.connector.connect(
host="localhost",
port=3306,
user="root",
password="12345678",
database="adbms_lab")

In [4]:
cur=cnx.cursor()

In [5]:
import time

In [6]:
starttime_sql=time.time()

In [7]:
cur.execute("SELECT name,teaches.course_id from instructor left outer join teaches on instructor.id=teaches.id;")

In [8]:
endtime_sql=time.time()

In [9]:
execution_time_sql = endtime_sql - starttime_sql

In [10]:
data_instructor=pd.read_csv("instructor.csv")

In [11]:
data_teaches=pd.read_csv("teaches.csv")

In [12]:
starttime_py=time.time()

In [13]:
result = pd.merge(data_instructor, data_teaches, left_on='id', right_on='id',how='left')

In [14]:
endtime_py=time.time()

In [15]:
execution_time_py = endtime_py - starttime_py

In [16]:
execution_time_sql

0.01948690414428711

In [17]:
execution_time_py

0.02782440185546875

In [18]:
time_difference = execution_time_py-execution_time_sql

In [19]:
time_difference

0.00833749771118164

In [22]:
data={'execution_time_py':[0.02782440185546875],'execution_time_sql':[0.01948690414428711]}

In [23]:
df=pd.DataFrame(data)

In [24]:
df

   execution_time_py  execution_time_sql
0           0.027824            0.019487

In [20]:
def get_user_input():
    print("Welcome to the Form Filling Application!")
    
    name = input("Enter your name: ")
    city = input("Enter your city: ")
    contact_number = input("Enter your contact number: ")
    
    return name, city, contact_number

def main():
    name, city, contact_number = get_user_input()
    
    print("\nThank you for filling up the form!")
    print("Here is the information you provided:")
    print(f"Name: {name}")
    print(f"City: {city}")
    print(f"Contact Number: {contact_number}")

if __name__ == "__main__":
    main()

Welcome to the Form Filling Application!
Enter your name: Preksha Prakash
Enter your city: Mumbai
Enter your contact number: 786754622

Thank you for filling up the form!
Here is the information you provided:
Name: Preksha Prakash
City: Mumbai
Contact Number: 786754622

In [21]:
cur.close()
cnx.close()

InternalError: Unread result found